VITE_BLOG_URL= "https://cloud.appwrite.io/v1"
VITE_BLOG_PROJECT_ID = "67d068d0003c2f9ef599"
VITE_BLOG_DATABASE_ID = "67d06b59000e8bb335c8"
VITE_BLOG_COLLECTION_ID = "67d06b8b00024e001275"
VITE_BLOG_BUCKET_ID = "67d06cb2000ecbdac67f"

